.container
    %header.header
        .header_item.header_item_left
            = link_to '⬅︎', root_path
        .header_item
            My Profile
        .header_item.header_item_right
            edit        
    .user-name
        = @user.user_name



    .avatar-wrapper
        = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
            %div
                = f.label :avatar, 'アバター' do
                    = image_tag @user.avatar_image, class: 'avatar-image', class: "avatar-image center-position"
            %div
                = f.file_field :avatar ,class: "hidden uploader"
    
            = f.submit '決定', class: 'btn-primary hidden submit-botton'


    .count
        .count_post
            = @user.articles.count
            .count_label
                Post
        = link_to profile_my_follower_path(@user) do        
            .count_follower
                %p#follower_count{ data: {follower_count: @user.follower_relationships.count}}
                    = @user.follower_relationships.count 
                .count_label
                    Follower
        = link_to profile_my_following_path(@user) do
            .count_following
                = @user.following_relationships.count
                .count_label
                    Following
    

= javascript_pack_tag 'profile'