.container
    %header.header
        .header_item.header_item_left
            = link_to '⬅︎', root_path
        .header_item
            My Profile
        .header_item.header_item_right
            edit        
    .user-name
        = @user.user_name



    .avatar-wrapper
        = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
            %div
                = f.label :avatar, 'アバター' do
                    = image_tag @user.avatar_image, class: 'avatar-image', class: "avatar-image center-position"
            %div
                = f.file_field :avatar ,class: "hidden uploader"
    
            = f.submit '決定', class: 'btn-primary hidden submit-botton'


    = render 'commons/profile', user: current_user
        

= javascript_pack_tag 'profile'