.container
    %header.header
        .header_item.header_item_left
            = link_to '⬅︎', root_path
        .header_item.user-name
            = @user.user_name
        .header_item.header_item_right
    
        

    .avatar-wrapper
        = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
            %div
                = f.label :avatar, 'アバター' do
                    = image_tag @user.avatar_image, class: 'avatar-image', class: "avatar-image center-position"
            %div
                = f.file_field :avatar ,class: "hidden uploader"
    
            = f.submit 'ICON CHANGE', class: 'button hidden submit-button'


    .count
        .count_post
            = @user.articles.count
            .count_label
                Post
        = link_to profile_my_follower_path(@user) do        
            .count_follower
                %p#follower_count{ data: {follower_count: @user.follower_relationships.count}}
                    = @user.follower_relationships.count 
                .count_label
                    Follower
        = link_to profile_my_following_path(@user) do
            .count_following
                = @user.following_relationships.count
                .count_label
                    Following
    


    .article-images
        - current_user.articles.each do |article|
            - article&.images.each do |image|
                .image-wrapper
                    = image_tag image, class: 'article-image'

= javascript_pack_tag 'profile'