.container
  %header.header
    - if user_signed_in?
      = link_to 'トップページ', root_path
      = link_to 'プロフィール', profile_path
      = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }


  = link_to 'new article', new_article_path

  - @articles.each do |article|
    .article.article-show{data: {article_id: article.id}}
      = image_tag article.user.profile.avatar, class: 'avatar-image-mini'
      .user-info
        = article.user.user_name
        = article.created_at
      - article.images.each do |image|
        = image_tag image, class: 'article-image'
      .action-buttons
        .article_heart.hidden.active-heart{id: "active-heart#{article.id}", data: {article_id: article.id}}
          = image_tag 'active-heart'
        .article_heart.hidden.inactive-heart{id: "inactive-heart#{article.id}", data: {article_id: article.id}}
          = image_tag 'inactive-heart'        
        = link_to new_article_comment_path(article) do 
          =image_tag 'comment-button'
        = link_to  "https://twitter.com/share?url=#{request.url}&text=#{article.content}" do
          =image_tag 'share-button'
      = article.content



= javascript_pack_tag 'article'