.container
  %ul
    - @article.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @article, local: true) do |f|
    %header.header
      = link_to 'cancel', :back
      Status
      = f.submit 'post', class: 'btn-primary'
    
    .article_user_info.margin_top
      = image_tag current_user.avatar_image, class: 'avatar-image-mini'
      .user_info
        = current_user.user_name
    %div.margin_top
      = f.text_area :content, class: "form_area", placeholder: "What's on your mind?"
    %div
      = f.label :images, '+ Album', class: 'file_field'
    %div
      = f.file_field :images , multiple: true, class: 'hidden'
    