= image_tag 'login-page-top-view.png', class: 'top-view-image'
.container
  .login_form
    Forgot your password?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field.login_form
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form_area"
    .links
      = render "devise/shared/links"
    .actions
      = f.submit "Send me reset password instructions", class: "button submit_button"
