.container
    %header.header
        .header_item.header_item_left
            = link_to '⬅︎', root_path
        .header_item
            Profile
        .header_item.header_item_right#account-show{data: {account_id: @user.id , relationship_id: @relationship_id}}
            .follow_button.hidden
                Follow

            .unfollow_button.hidden
                Unfollow

        
                
        
    .user-name
        = @user.user_name



    .avatar-wrapper
        = image_tag @user.avatar_image, class: 'avatar-image', class: "avatar-image center-position"


    = render 'commons/profile', user: @user



= javascript_pack_tag 'follow'