.container
    %header.header
        .header_item.header_item_left
            = link_to '⬅︎', root_path
        .header_item.user-name
            = @user.user_name
        .header_item.header_item_right#account-show{data: {account_id: @user.id , relationship_id: @relationship_id}}
            .follow_button.hidden
                %button.tag( data-content-default="Follow" data-content-spinning="Follow" )
            .unfollow_button.hidden
                %button.tag( data-content-default="Unfollow" data-content-spinning="Unfollow" )
    



    .avatar-wrapper
        = image_tag @user.avatar_image, class: 'avatar-image', class: "avatar-image center-position"


    = render 'commons/profile', user: @user


    .article-images
        - @user.articles.each do |article|
            - article&.images.each do |image|
                .image-wrapper
                    = image_tag image, class: 'article-image'

= javascript_pack_tag 'follow'